apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: techchallenger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: robertoribeiroo/auth-service:latest
          env:
            - name: DATABASE_URL
              value: postgres://auth_user:auth_pass@auth-postgres:5432/auth_db
            - name: PORT
              value: "8001"
            - name: MASTER_KEY
              value: admin-secreto-123
          ports:
            - containerPort: 8001
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: techchallenger
spec:
  selector:
    app: auth-service
  ports:
    - port: 8001
